<ul class="nav-list">
  <li class="nav-item main"><a routerLink="/">Main</a></li>
  <li class="nav-item"><a routerLink="/styles">Styles</a></li>
  <li class="nav-item"><a routerLink="/teams">Teams</a></li>
  <li class="nav-item"><a routerLink="/events">Events</a></li>
  <li class="nav-item"><a routerLink="/music">Music</a></li>
  <li class="nav-item"><a routerLink="/gallery">Gallery</a></li>
  <li class="nav-item"><a routerLink="/store">Store</a></li>
  <li class="nav-item"><a routerLink="/articles">Articles</a></li>
  <li class="nav-item profile-item">
    <a href="#">
      <img class="profile-img" [src]="profileImgSrc"  alt="{{ profileImgSrc }}" >
    </a>
  </li>
</ul>
